.container {
  display: flex;
  flex-direction: column;
  font-family: 'Sole Sans VF', sans-serif;

  &__image {
    max-width: 100%;
    order: 0;
  }

  &__heading {
    order: 1;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &__links {
    display: flex;
    order: 2;
  }
}
