$c-highlight-pink: #FE3CB0;
$c-highlight-blue: #45e6fe;
$c-highlight-green: #01F5AC;

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  // This needs to be moved into the global styles:
  background: radial-gradient(149.02% 80.01% at 91.08% 0%, #0e1c1f 0%, rgba(9, 9, 9, 0) 100%);
  
  &__sparkbox-logo {
    &--text {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
    h1 {
      padding: 1rem;
      margin: 0;
    }
    p {
      padding: 1rem;
      margin: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(65, 1fr);
    grid-template-rows: repeat(11, 1fr); // 19 in desktop 
  
    img {
      max-width: 100%;
      margin-top: -5px;
    }
  
    &--image1 {
      grid-area: 2 / 18 / 7 / 41
    }
    &--image2 {
      grid-area: 7 / 7 / 11 / 18;
    }
    &--image3 {
      grid-area: 7 / 41 / 12 / 64;
    }
    &--image4 {
      grid-area: 12 / 18 / 17 / 41;
      display: none;
    }
    &--image5 {
      grid-area: 17 / 41 / 20 / 51;
      display: none;
    }

    // Triangle: Top Right
    &--shape1 {
      grid-area: 1 / 37 / 3 / 46;
      
      path { 
        stroke: $c-highlight-pink;
      }
    }

    // Circle: Top Left
    &--shape2 {
      grid-area: 3 / 11 / 7 / 20;
  
      circle {
        stroke: $c-highlight-green;
      }
    }

    // Triangle: Middle Left
    &--shape3 {
      grid-area: 6 / 2 / 9 / 9;
    }

    // Circle: Middle Right
    &--shape4 {
      grid-area: 7 / 30 / 12 / 44;
  
      circle {
        stroke: $c-highlight-blue;
        stroke-width: 0.75;
      }
    }

    // Triangle: Bottom Left
    &--shape5 {
      display: none;
      grid-area: 14 / 6 / 19 / 26;
  
      path {
        stroke: $c-highlight-green;
        stroke-width: 0.5;
      }
    }

    // Circle: Bottom Right
    &--shape6 {
      display: none;
      grid-area: 13 / 39 / 15 / 44;
  
      circle {
        stroke: rgb(40, 242, 252);
        stroke-width: 1.5; 
      }
    }
    
    // Triangle: Bottom Right
    &--shape7 {
      display: none;
      grid-area: 16 / 48 / 19 / 55;
    }
  }
}

@media (min-width: 768px) {
  .hero {

    &__sparkbox-logo {
      &--no-text {
        display: none;
      }
      &--text {
        display: block;
        padding: 1rem;
      }
    }

    &__text {
      order: 1;
      margin-top: -5rem;
      h1 {
        width: 60%;
        font-size: 3rem;
      }
      p {
        width: 80%;
        font-size: 1.25rem;
      }
    }

    &__art-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &__grid {
      width: 80%;
    }
  }

  @media (min-width: 1124px) {
    .hero {
      &__container {
        flex-direction: row;
        align-items: center;
      }
      &__text {
        order: 0;
 
        p {
          font-size: 1.5rem;
        }
      }

      &__grid {
        width: 100%;
        
        &--image4 {
          display: block;
        }
        &--image5 {
          display: block;
        }
        &--shape5 {
          display: block;
        }
        &--shape6 {
          display: block;
        }
        &--shape7 {
          display: block;
        }
      }
    }
  }
}
