@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;
@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

.previous-apprentices {
  @include horizontal-section-spacing();
  box-sizing: border-box;
  padding-top: 30rem;
  margin-top: -25rem;
  z-index: -100;

  &__header {
    display: block;
    max-width: $max-content-width;
    margin: auto;

    h2 {
      font-size: 2rem;
      font-family: 'Sole Sans Extended', sans-serif;
    }

    h2,
    p {
      display: inline-block;
    }
  }

  &__legend {
    p {
      margin: 0.75rem 2rem 0.5rem 0;
      margin-right: 2rem;
    }

    svg:nth-child(1) {
      margin-right: 0.5rem;
    }
  }

  &__groups {
    display: flex;
    justify-content: flex-start;
    column-gap: 5rem;
    row-gap: 2rem;
    flex-flow: row wrap;
    max-width: $max-content-width;
    margin: auto;

    @supports (display: grid) {
      display: grid;
      // The grid size should match the flex basis used in .previous-apprentices-group, which
      // is based on a four-column layout.
      grid-template-columns: repeat(auto-fill, $previous-apprentice-group-width-small);
      justify-content: space-between;

      @media (min-width: 45rem) {
        grid-template-columns: repeat(auto-fill, $previous-apprentice-group-width-large);
      }
    }
  }
}

.employee-status {
  width: 0.75rem;
  fill: black;
}

.past-employee-status {
  stroke: $c-highlight-green;
  stroke-width: 0.75rem;
}

.current-employee-status {
  stroke: $c-highlight-green;
  stroke-width: 1rem;
  fill: $c-highlight-green;
}

@media (min-width: 50rem) {
  .previous-apprentices {
    // Turn this back on when we restart the apprenticeship and "current apprentices" is active
    // background: url('../../public/sparkbox-logo.svg') no-repeat;
    // background-size: 40rem;
    // background-position-x: calc(50% + 38rem);
    // background-position-y: 16rem;

    &__groups {
      margin: auto;
    }

    &__legend-item {
      display: inline-block;
    }
  }
}

@media (min-width: 70rem) {
  .previous-apprentices {
    &__header {
      h2 {
        margin: revert;
      }
    }

    &__groups {
      margin: 0 auto;
    }

    &__legend {
      padding-top: 1rem;
      float: right;
    }

    &__legend-item {
      display: inline-block;
    }
  }
}
