@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;
@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

.previous-apprentices {
  padding: 30rem 9% 9% 9%;
  margin-top: -30rem;
  z-index: -100;

  box-sizing: border-box;
  width: $component-width;

  &__header {
    display: block;
    max-width: $max-content-width;
    margin: auto;

    h2,
    p {
      display: inline-block;
    }
  }

  &__legend {
    p {
      margin: 0.75rem 2rem 0.5rem 0;
      margin-right: 2rem;
    }

    svg:nth-child(1) {
      margin-right: 0.5rem;
    }
  }

  &__groups {
    display: flex;
    justify-content: flex-start;
    column-gap: 5rem;
    row-gap: 2rem;
    flex-flow: row wrap;
    max-width: $max-content-width;
    margin: auto;
  }
}

.employee-status {
  width: 0.75rem;
  fill: black;
}

.past-employee-status {
  stroke: $c-highlight-green;
  stroke-width: 0.75rem;
}

.current-employee-status {
  stroke: $c-highlight-green;
  stroke-width: 1rem;
  fill: $c-highlight-green;
}

@media (min-width: 50rem) {
  .previous-apprentices {

    background: url('../../public/sparkbox-logo.svg') no-repeat;
    background-size: 40rem;
    background-position-x: calc(50% + 38rem);
    background-position-y: 16rem;

    &__groups {
      margin: auto;
    }

    &__legend-item {
      display: inline-block;
    }
  }
}

@media (min-width: 70rem) {
  .previous-apprentices {
    &__header {
      h2 {
        margin: revert;
      }
    }

    &__groups {
      margin: 0 auto;
      justify-content: space-between;
    }

    &__legend {
      padding-top: 1rem;
      float: right;
    }

    &__legend-item {
      display: inline-block;
    }
  }
}
