@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;
@use '../../styles/mixins' as *;

.apply-hero {
  width: $component-width;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    @include horizontal-section-spacing();
    @include vertical-section-spacing();
    max-width: $max-content-width;
    display: flex;
    flex-direction: column;
  }

  &__header-content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    h1 {
      font-size: 2.65rem;
    }

    h1,
    p {
      padding-bottom: 1rem;
      font-weight: 100;
      margin: 0;
    }
  }

  &__art-container {
    display: none;
    order: 1;
  }

  &__grid {
    display: none;
  }

  @supports (display: grid) {
    &__art-container {
      display: block;
      padding-bottom: 1rem;
    }

    &__grid {  // This grid is for the hero images and svgs
      display: grid;
      grid-template-columns: repeat(63, 1fr);
      grid-template-rows: repeat(18, 1fr);

      img {
        max-width: 100%;

        // Images below are placed in the grid in order from top to bottom and left to right
        &:nth-child(1) {
          grid-area: 3 / 3 / span 5 / span 23;
          background-color: $c-highlight-blue;
        }

        &:nth-child(2) {
          grid-area: 5 / 49 / span 4 / span 13;
          margin-top: 6px;
          background-color: $c-highlight-green;
        }

        &:nth-child(3) {
          grid-area: 8 / 26 / span 5 / span 23;
          background-color: $c-highlight-pink;
        }

        &:nth-child(4) {
          grid-area: 13 / 3 / span 5 / span 23;
          background-color: $c-highlight-green;
        }
      }

      // Triangle: Top Left
      &--shape1 {
        grid-area: 2 / 23 / span 2 / span 9;

        path {
          stroke: $c-highlight-pink;
        }
      }

      // Circle: Top Right
      &--shape2 {
        grid-area: 3 / 39 / span 5 / span 14;

        circle {
          stroke: $c-highlight-blue;
          stroke-width: 0.75;
        }
      }

      // Triangle: Middle Left
      &--shape3 {
        grid-area: 7 / 8 / span 5 / span 20;

        path {
          stroke: $c-highlight-green;
          stroke-width: 0.5;
        }
      }

      // Circle: Middle Right
      &--shape4 {
        grid-area: 11 / 48 / span 2 / span 5;
        margin-top: -1rem;

        circle {
          stroke: $c-highlight-green;
          stroke-width: 1.5;
        }
      }

      // Triangle: Bottom
      &--shape5 {
        grid-area: 13 / 25 / span 3 / span 7;
        margin-top: -1rem;

        path {
          stroke: $c-highlight-blue;
          stroke-width: 0.75;
        }
      }

      // Circle: Bottom
      &--shape6 {
        grid-area: 17 / 13 / span 4 / span 9;

        circle {
          stroke: $c-highlight-pink;
          stroke-width: 0.75;
        }
      }
    }
  }

  @media (min-width: 43rem) {
    &__text {
      order: 1;
      width: 90%;
      margin-top: -3.5rem;

      h1 {
        width: 60%;
        font-size: 3.4rem;
      }

      p {
        width: 80%;
        font-size: 1.25rem;
        line-height: 1.8;
      }
    }

    &__art-container {
      order: unset;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &__grid {
      width: 70%;
    }
  }

  @media (min-width: 70.25rem) {
    box-sizing: border-box;

    &__header-content {
      flex-direction: row;
    }

    &__text {
      width: 100%;
      order: 0;
      margin-top: 2rem;

      h1 {
        font-size: 4.5rem;
        width: 100%;
      }

      p {
        font-size: 1.2rem;
        width: 95%;
      }
    }

    &__art-container {
      justify-content: flex-start;
      margin-top: -7rem;
    }

    &__grid {
      width: 100%;
    }
  }
}
