@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;
@use '../../styles/fonts';
@use '../../styles/mixins' as *;

.current-apprentices {
  @include section-padding();
  box-sizing: border-box;
  width: $component-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    width: 100%;
    max-width: $max-content-width;
  }

  &__header {
    text-align: center;

    h2 {
      font-size: 2rem;
      font-family: 'Sole Sans Extended', sans-serif;
    }
  }

  &__version {
    color: $c-highlight-green;
  }

  .card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__card {
      margin-bottom: 2rem;

      img {
        display: none;
      }

      width: 18rem;
    }

    @supports (display: grid) {
      &__card {
        img {
          display: block;
        }
      }
    }
  }

  @media (min-width: 47.9rem) {
    &__header {
      text-align: left;
    }

    .card-container {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      &__card {
        margin-right: 2rem;
      }
    }
  }
}
