@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;
@use '../../styles/fonts' as *;

.previous-apprentices-group {
  &__version {
    color: $c-highlight-pink;
    padding-bottom: 0.5rem;
  }

  &__statuses {
    padding: 0;
    list-style-type: none;
  }

  &__apprentice {
    &:not(&:last-child) {
      padding-bottom: 0.5rem;
    }
  }
}
