@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;
@use '../../styles/fonts' as *;

.previous-apprentices-group {
  flex-basis: $previous-apprentice-group-width-small;

  &__version {
    color: $c-highlight-pink;
    padding-bottom: 0.5rem;
  }

  &__statuses {
    padding: 0;
    list-style-type: none;
  }

  &__apprentice {
    width: 10.25rem;

    &:not(&:last-child) {
      padding-bottom: 0.5rem;
    }
  }
}

@media (min-width: 45rem) {
  .previous-apprentices-group {
    flex-basis: $previous-apprentice-group-width-large;
  }
}
