@use './styles/spacing' as *;

@mixin horizontal-section-spacing {
  padding-left: $small-screen-padding;
  padding-right: $small-screen-padding;
  width: $component-width;

  @media (min-width: 48rem) {
    padding-left: $medium-screen-padding;
    padding-right: $medium-screen-padding;
  }

  @media (min-width: 62rem) {
    padding-left: $large-screen-padding;
    padding-right: $large-screen-padding;
  }

  @media (min-width: 75rem) {
    padding-left: $xlarge-screen-padding;
    padding-right: $xlarge-screen-padding;
  }
}

@mixin vertical-section-spacing {
  padding-top: $small-screen-padding;

  @media (min-width: 48rem) {
    padding-top: $medium-screen-padding;
  }

  @media (min-width: 62rem) {
    padding-top: $large-screen-padding;
  }

  @media (min-width: 75rem) {
    padding-top: $xlarge-screen-padding;
  }
}

@mixin visually-hidden {
  position: fixed;
  right: 100%;
  bottom: 100%;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);

  &:focus {
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    clip: auto;
    clip-path: none;
  }
}
