@use 'colors' as *;
@use "fonts";

$font-default:
  'Sole Sans', 'Trebuchet MS', -apple-system, blinkmacsystemfont, 'Helvetica Neue', sans-serif;

@mixin smooth-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-default;
  color: $primary-text-color;
}

html {
  background-color: $background-color;
  font-family: $font-default;
  color: white;
}

body {
  @include smooth-font();
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Sole Serif', serif;
}
