@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;

.primary {
  color: $c-highlight-green;
}

.apprentice-qualities {
  width: $component-width;

  &__main {
    margin: auto;
  }

  &__image {
    display: none;
  }

  &__article {
    padding: 1rem;

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.375rem;
    }

    &-heading {
      font-style: normal;
      font-weight: 500;
      font-size: 0.938rem;
      line-height: 2.063rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    &-subheading {
      margin: 0;
      letter-spacing: -0.02rem;
      font-size: 1.563rem;
      line-height: 1.75rem;
    }
  }
}

@media (min-width: 50rem) {
  .apprentice-qualities {
    min-height: 50rem;
    position: relative;
    padding-top: 3rem;
    background:
      linear-gradient(180deg, $background-color, 33%, transparent),
      url('../../public/apprentice-qualities-background.svg'),
      url('../../public/apprentice-qualities-background.svg'),
      url('../../public/apprentice-qualities-background.svg');
    background-repeat: repeat-x;
    background-size: 20rem;
    background-position:
      -8rem 0,
      2rem 17.4rem,
      -8rem 34.7rem;

    &__main {
      display: flex;
      position: relative;
    }

    &__image {
      display: block;
      position: absolute;
      left: 1.2rem;
      top: 14.4rem;
      pointer-events: none;
      width: 21.5rem;
    }

    &__article {
      padding: 2rem;
      position: absolute;
      left: 23rem;
      top: 8rem;
      padding-top: 3rem;
    }
  }
}

@media (min-width: 70.25rem) {
  .apprentice-qualities {
    background-position:
      calc(50% - 16rem) 0,
      calc(50% - 6rem) 17.3rem,
      calc(50% - 16rem) 34.7rem;

    &__main {
      flex-direction: row;
      justify-content: center;
      padding-top: 5rem;
    }

    &__image {
      position: revert;
      padding-top: 9.3rem;
    }

    &__article {
      position: revert;
      max-width: 90ch;
      padding: 5rem 0 0 0;
    }
  }
}
