@use '../../styles/colors' as *;
@use '../../styles/spacing' as *;
@use '../../styles/mixins' as *;

.primary {
  color: $c-highlight-green;
}

.apprentice-qualities {
  @include vertical-section-spacing();
  width: $component-width;

  &__main {
    @include horizontal-section-spacing();
    box-sizing: border-box;
  }

  &__image {
    display: none;
  }

  &__article {
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.375rem;
    }

    &-heading {
      font-style: normal;
      font-weight: 500;
      font-size: 0.938rem;
      line-height: 2.063rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    &-subheading {
      margin: 0;
      letter-spacing: -0.02rem;
      font-size: 1.563rem;
      line-height: 1.75rem;
    }
  }
}

@media (min-width: 48rem) {
  .apprentice-qualities {
    min-height: 50rem;
    position: relative;
    padding-top: 3rem;
    background:
      linear-gradient(180deg, $background-color, 33%, transparent),
      url('../../public/apprentice-qualities-background.svg'),
      url('../../public/apprentice-qualities-background.svg'),
      url('../../public/apprentice-qualities-background.svg');
    background-repeat: repeat-x;
    background-size: 20rem;
    background-position:
      $medium-screen-padding+8.2rem 0,
      $medium-screen-padding+ -1.8rem  17.4rem,
      $medium-screen-padding+8.2rem 34.7rem;

    &__main {
      display: flex;
      position: relative;
    }

    &__image {
      order: 1;
      display: block;
      position: absolute;
      pointer-events: none;
      width: 21.5rem;
      top: 6.5rem;
      left: -23.75rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 25rem;
      top: 8rem;
      padding-top: 3rem;
      padding-right: 3.75rem;

      &--heading {
        order: 2;
      }

      &--subheading {
        order: 3;
      }

      &-text {
        order: 4;
      }
    }
  }
}

@media (min-width: 62rem) {
  .apprentice-qualities {
    background-position:
      calc(50% - 10rem) 0,
      50% 17.3rem,
      calc(50% - 10rem) 34.7rem;

    &__main {
      flex-direction: row;
      justify-content: center;
      padding-top: 5rem;
    }

    &__image {
      position: absolute;
      top: 14.3rem;
      left: calc(50% - 30.75rem);
    }

    &__article {
      position: revert;
      padding-right: 0;
      width: 70ch;
      max-width: 90ch;
      margin-left: 40%;
    }
  }
}
